extends layout
block content 
  form(action="/subscribers/new", method="POST")
    input(type="text", name="name" placeholder="Nom") 
    input(type="text", name="email" placeholder="Email") 
    input(type="text", name="zipCode" placeholder="Zip Code" pattern="[0-9]{5}}")
    input(type="submit", value="Envoyer") 